.place {
	color: white;
}

#tombol {
	margin-left: 10px;
	border-radius: 100%;
	height: 40px;
	width: 40px;
}

.overlay {
	position: relative;
	z-index: 1;
}

.overlay:after {
	background-color: rgba(0, 0, 0, 0.8);
	content: "";
	left: 0;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.section-padding {
	padding: 100px 0;
}

.section-title {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 80px;
}

.section-title h2 {
	margin-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}

.section-title p {
	margin-top: 10px;
}

.section-title .title-line {
	color: #ffd000;
	position: relative;
}

.section-title .title-line::after {
	background-color: #333;
	content: "";
	height: 2px;
	left: -60px;
	position: absolute;
	top: 10px;
	width: 50px;
}

.section-title .title-line::before {
	background-color: #333;
	content: "";
	height: 2px;
	position: absolute;
	right: -60px;
	top: 10px;
	width: 50px;
}

.overlay .section-title h2,
.overlay .section-title p {
	color: #fff;
}

.overlay .section-title .title-line::after,
.overlay .section-title .title-line::before {
	background-color: #fff;
}

.scroll-top {
	bottom: 50px;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 30px;
	width: 30px;
	z-index: 9999;
}

.login-page-content {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	padding-bottom: 35px;
	text-align: center;
	border-radius: 3px;
}

.login-form {
	background-color: #ffd000;
	padding: 50px 20px 15px;
}

.login-form h3 {
	color: #000;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.login-form input,
.login-form button {
	background-color: transparent;
	border: 1px solid #555;
	color: #000;
	margin: 10px 0;
	padding: 10px 20px;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	width: 100%;
}

.login-form input:focus {
	border-color: #fff;
}

.log-btn button {
	background-color: #fff;
	border-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-weight: 700;
}

.log-btn button:hover {
	background-color: #222;
	border-color: #222;
	color: #fff;
}

.or {
	color: #000;
	display: block;
	font-weight: 600;
	margin: 20px 0;
	position: relative;
	text-transform: uppercase;
}

.or::after {
	background-color: #ccc;
	content: "";
	height: 1px;
	left: 35px;
	position: absolute;
	top: 10px;
	width: 120px;
}

.or::before {
	background-color: #ccc;
	content: "";
	height: 1px;
	right: 35px;
	position: absolute;
	top: 10px;
	width: 120px;
}

.login-with-btn {
	background: -webkit-gradient(linear, left top, left bottom, from(#3b5998), to(#344e86));
	background: linear-gradient(to bottom, #3b5998, #344e86);
	border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 600;
	margin: 0 30px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	padding: 10px;
}

.login-with-btn.facebook:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#344e86), to(#3b5998));
	background: linear-gradient(to bottom, #344e86, #3b5998);
}

.login-with-btn.google {
	background: -webkit-gradient(linear, left top, left bottom, from(#DC4A38), to(#Dd5b21));
	background: linear-gradient(to bottom, #DC4A38, #Dd5b21);
	margin-top: 15px;
}

.login-with-btn.google:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#Dd5b21), to(#DC4A38));
	background: linear-gradient(to bottom, #Dd5b21, #DC4A38);
}

.login-with-btn:hover {
	color: #fff;
}

.login-with-btn .fa {
	margin-right: 10px;
}

.create-ac {
	color: #555;
	margin: 15px 0 10px;
}

.create-ac a,
.login-menu a {
	color: #000;
	font-weight: 600;
	-webkit-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	text-transform: uppercase;
	font-size: 13px;
}

.create-ac a:hover,
.login-menu a:hover {
	color: #fab702;
	text-decoration: underline;
}
